
@{
    ViewData["Title"] = "DashBoard";
}

<h1>DashBoard</h1>

<div class="d-flex align-items-center justify-content-center">
    <a asp-area="" asp-controller="Home" asp-action="ViewEmployee">View Employee List</a>|
    <a asp-area="" asp-controller="Home" asp-action="Post">Add New Employee</a>|
    <a asp-area="" asp-controller="Home" asp-action="Designation">Add New Designation</a>
</div>