@model Mini_Project_Sample.Models.DesignationMvc

@{
    ViewData["Title"] = "Designation";
}

<h1>Designation</h1>

<h4>DesignationMvc</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Designation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DesignationType" class="control-label"></label>
                <input asp-for="DesignationType" class="form-control" />
                <span asp-validation-for="DesignationType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

